#!/bin/sh

# Disable beep
xset b off

# Speed up X rate
xset r rate 300 50

# Screen blanking/DPMS settings
xset s 1200 600
xset dpms 0 3600 0

# Swap Escape and CapsLock
setxkbmap -option caps:swapescape

# Set cursor shape
xsetroot -cursor_name left_ptr

TPOINT="TPPS/2 Elan TrackPoint"
TPAD="Synaptics TM3418-002"
MOUSE="Logitech G403"
SPEED_PROP="libinput Accel Speed"
MSPEED=0.4

MOUSE_IDS=$(xinput list | grep "$MOUSE" | cut -d'=' -f2 | awk '{print $1}')

# TrackPoint, TouchPad, mouse settings
xinput set-prop "$TPOINT" "libinput Accel Profile Enabled" 1, 0
xinput set-prop "$TPAD" "libinput Natural Scrolling Enabled" 1
for id in $MOUSE_IDS
do
    xinput --list-props "$id" | grep -q "$SPEED_PROP" && xinput set-prop "$id" "$SPEED_PROP" "$MSPEED"
done

# Apply color profile
COLOR_PROFILE="/usr/share/color/icc/colord/NV156FHM-N61-Linux.icc"
[ -f $COLOR_PROFILE ] && xcalib -d :0 $COLOR_PROFILE

# Universal external applications
pgrep fcitx || fcitx &
pgrep gebaard || gebaard -b &
pgrep mpd || mpd &
pgrep dunst || dunst &
pgrep unclutter || unclutter &
pgrep xss-lock || xss-lock -l -- $LOCKER &
pgrep picom || picom -b &
pgrep redshift || redshift &
numlockx &
setbg &
